<section class="about">
  <div class="container about__container">
    <!--  image-->

    <div class="about__wrap-img">
      <img class="image" src="./images/bg-header-removebg-preview.png" alt="" />
    </div>

    <!-- text -->

    <div class="about__wrap-text">
      <p class="about__text-title">
        Облаштуйте своє житло так щоб відчувати себе в ньому максимально
        комфортно 
      </p>
      <!-- Для цього ми допоможемо зробити правильний підбір меблевого
        гарнітура. -->

      <ul>
        <li class="about__item">
          <p class="about__item-text">
            Ми спеціалізуємось на проектуванні меблів на індивідуальні
            замовлення
          </p>
        </li>
        <li class="about__item">
          <p class="about__item-text">
            Пропонуємо створити меблеві гарнітури будь-якої складності
          </p>
        </li>

        <li class="about__item">
          <p class="about__item-text">Підбір фурнітури під бюджет</p>
        </li>
        <li class="about__item">
          <p class="about__item-text">
            Враховуваємо всі побажання та даємо рекомендації
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
