<section class="about js-about">
  <div class="container about__container">
    <!-- <h2 class="about__text-title">
        Облаштуйте своє житло так щоб відчувати себе в ньому максимально
        комфортно
      </h2> -->

    <!-- <h2 class="about__text-title">Створємо якісні та сучасні меблі</h2> -->

    <div class="about__wrap-box">
      <!-- LEFT BOX -->

      <div class="about__text-box">
        <ul>
          <li class="about__item">
            <div>
              <svg class="about__icon" width="60" height="60">
                <use href="./images/numbers.svg#icon-number1"></use>
              </svg>
            </div>
            <p class="about__item-text">
              Наша головна мета - індивідуальний підхід до кожного клієнта
            </p>
          </li>

          <li class="about__item">
            <div>
              <svg class="about__icon" width="60" height="60">
                <use href="./images/numbers.svg#icon-number2"></use>
              </svg>
            </div>
            <p class="about__item-text">
              Ми спеціалізуємось на проектуванні меблів під індивідуальні
              замовлення
            </p>
          </li>

          <li class="about__item">
            <div>
              <svg class="about__icon" width="60" height="60">
                <use href="./images/numbers.svg#icon-number3"></use>
              </svg>
            </div>
            <p class="about__item-text">
              Ми зробимо детальний макет з прорахунком вартості
            </p>
          </li>

          <li class="about__item">
            <div>
              <svg class="about__icon" width="60" height="60">
                <use href="./images/numbers.svg#icon-number4"></use>
              </svg>
            </div>
            <p class="about__item-text">
              Пропонуємо створити меблеві гарнітури будь-якої складності
            </p>
          </li>

          <li class="about__item">
            <div>
              <svg class="about__icon" width="60" height="60">
                <use href="./images/numbers.svg#icon-number5"></use>
              </svg>
            </div>
            <p class="about__item-text">
              Особливу увагу приділяємо функціональності меблів
            </p>
          </li>
        </ul>
      </div>

      <!-- RIGHT BOX -->

      <div class="about__text-box">
        <ul>

          <li class="about__item">
            <div>
              <svg class="about__icon" width="60" height="60">
                <use href="./images/numbers.svg#icon-number6"></use>
              </svg>
            </div>
            <p class="about__item-text">Ніяких обмежень за формою і кольором</p>
          </li>

          <li class="about__item">
            <div>
              <svg class="about__icon" width="60" height="60">
                <use href="./images/numbers.svg#icon-number7"></use>
              </svg>
            </div>
            <p class="about__item-text">
              Допомагаємо підібрати фурнітуру під бюджет
            </p>
          </li>

          <li class="about__item">
            <div>
              <svg class="about__icon" width="60" height="60">
                <use href="./images/numbers.svg#icon-number8"></use>
              </svg>
            </div>
            <p class="about__item-text">
              Враховуваємо всі побажання та даємо рекомендації
            </p>
          </li>

          <li class="about__item">
            <div>
              <svg class="about__icon" width="60" height="60">
                <use href="./images/numbers.svg#icon-number9"></use>
              </svg>
            </div>
            <p class="about__item-text">Ми дбайливо доставляємо меблі</p>
          </li>

          <li class="about__item">
            <div>
              <svg class="about__icon" width="60" height="60">
                <use href="./images/numbers.svg#icon-number0"></use>

              </svg>
            </div>
            <p class="about__item-text">
              Монтаж здійснюють кваліфіковані спеціалісти
            </p>
          </li>
        </ul>
      </div>
    </div>

    <!-- <ul > -->
    <!-- <li class="about__item">
        <div>
          <svg class="about__icon" width="30" height="30">
            <use href="./images/icons.svg#icon-Check_mark"></use>
          </svg>
        </div>
        <p class="about__item-text">
          Наша головна мета - індивідуальний підхід до кожного клієнта
        </p>
      </li> -->

    <!-- <li class="about__item">
        <div>
          <svg class="about__icon" width="30" height="30">
            <use href="./images/icons.svg#icon-Check_mark"></use>
          </svg>
        </div>
        <p class="about__item-text">
          Ми спеціалізуємось на проектуванні меблів під індивідуальні замовлення
        </p>
      </li> -->

    <!-- <li class="about__item">
        <div>
          <svg class="about__icon" width="30" height="30">
            <use href="./images/icons.svg#icon-Check_mark"></use>
          </svg>
        </div>
        <p class="about__item-text">
          Ми зробимо детальний макет з прорахунком вартості 
        </p>
      </li> -->

    <!-- <li class="about__item">
        <div>
          <svg class="about__icon" width="30" height="30">
            <use href="./images/icons.svg#icon-Check_mark"></use>
          </svg>
        </div>
        <p class="about__item-text">
          Пропонуємо створити меблеві гарнітури будь-якої складності
        </p>
      </li> -->

    <!-- <li class="about__item">
        <div>
          <svg class="about__icon" width="30" height="30">
            <use href="./images/icons.svg#icon-Check_mark"></use>
          </svg>
        </div>
        <p class="about__item-text">
          Особливу увагу приділяємо функціональності меблів
        </p>
      </li>

      <li class="about__item">
        <div>
          <svg class="about__icon" width="30" height="30">
            <use href="./images/icons.svg#icon-Check_mark"></use>
          </svg>
        </div>
        <p class="about__item-text">Ніяких обмежень за формою і кольором</p>
      </li>

      <li class="about__item">
        <div>
          <svg class="about__icon" width="30" height="30">
            <use href="./images/icons.svg#icon-Check_mark"></use>
          </svg>
        </div>
        <p class="about__item-text">
          Допомагаємо підібрати фурнітуру під бюджет
        </p>
      </li>

      <li class="about__item">
        <div>
          <svg class="about__icon" width="30" height="30">
            <use href="./images/icons.svg#icon-Check_mark"></use>
          </svg>
        </div>
        <p class="about__item-text">
          Враховуваємо всі побажання та даємо рекомендації
        </p>
      </li>

      <li class="about__item">
        <div>
          <svg class="about__icon" width="30" height="30">
            <use href="./images/icons.svg#icon-Check_mark"></use>
          </svg>
        </div>
        <p class="about__item-text">
          Ми дбайливо доставляємо меблі
        </p>
      </li>

      <li class="about__item">
        <div>
          <svg class="about__icon" width="30" height="30">
            <use href="./images/icons.svg#icon-Check_mark"></use>
          </svg>
        </div>
        <p class="about__item-text">
          Монтаж здійснюють кваліфіковані спеціалісти
        </p>
      </li> -->

    <!-- </ul> -->
  </div>
</section>
