<section class="about">
  <div class="container about__container">
    <div class="about__wrap-img">
      <img src="./images/bg-header-removebg-preview.png" alt="" />
    </div>
    <div about__wrap-text>
      <p class="about__text">
        Ми спеціалізуємось на проектуванні меблів на індивідуальні замовлення.
      </p>
      <p class="about__text">
        Пропонуємо створити меблеві гарнітури будь-якої складності.
      </p>
      <p class="about__text">Вибір матеріалів ...</p>
    </div>
  </div>
</section>
