<section class="contacts js-contacts is-hidden">
  <div class="container contacts-container">
    <h2 class="contacts__title">Контакти</h2>
    <div class="contacts__wrap">
      <ul class="contacts__list">
        <li class="contacts__item">
          <a class="contacts__link" href="tel:+380730189820">
            <svg class="contacts__icon" width="20" height="40">
              <use href="./images/icons.svg#icon-phone" />
            </svg>
            +38 (073)018-98-20
          </a>
        </li>
        <li class="contacts__item">
          <a class="contacts__link" href="mailto:Oleksandrdudnik@gmail.com">
            <svg class="contacts__icon" width="20" height="40">
              <use href="./images/icons.svg#icon-mail" />
            </svg>
            Oleksandrdudnik@gmail.com</a
          >
        </li>
      </ul>

      <!-- Social network -->

      <div class="social-wrap social-wrap--q">
        <ul class="social-list footer__social-list">
          <li class="social-item">
            <a
              class="social-link"
              target="_blank"
              href="viber://chat?number=%2B380730189820"
              aria-label="viber"
            >
              <svg class="social-icon__viber" width="40" height="40">
                <use href="./images/icons.svg#icon-viber" />
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              class="social-link"
              target="_blank"
              href="https://t.me/foklim"
              aria-label="telegram"
            >
              <svg class="social-icon__telegram" width="40" height="40">
                <use href="./images/icons.svg#icon-telegram" />
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              class="social-link"
              target="_blank"
              href="https://wa.me/380730189820"
              aria-label="whatsapp"
            >
              <svg class="social-icon__whatsapp" width="40" height="40">
                <use href="./images/icons.svg#icon-whatsapp" />
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
