<!-- <header class="header"> -->
  <div class="container header__container">
    <nav class="header__nav">
      <a href="index.html" class="link-logo">
        Dudnik_Studio
      </a>
      <ul class="header__list">
        <li class="header__item">
          <a href="" class="header__link">Про нас</a>
        </li>
        <li class="header__item">
          <a href="" class="header__link">Портфоліо</a>
        </li>
        <li class="header__item">
          <a href="#footer" class="header__link">Контакти</a>
        </li>
      </ul>
    </nav>
    <button class="mob-menu__open-btn" type="button">
      <svg class="mob-menu__icon-open" width="32" height="32">
        <use href="./images/icons.svg#icon-menu_open"/>
      </svg>
    </button>
  </div>
<!-- </header> -->
