<header class="header">
  <div class="container header__container">
    <nav class="header__nav">
      <a href="index.html" class="link-logo"> Dudnik_Studio </a>
      <ul class="header__list">
        <li class="header__item">
          <a href="#" class="header__link js-about-header">Про нас</a>
        </li>
        <li class="header__item">
          <a href="#" class="header__link js-portfolio-header">Портфоліо</a>
        </li>
        <li class="header__item">
          <a href="#" class="header__link js-contacts-header">Контакти</a>
        </li>
      </ul>
    </nav>
    <button class="mob-menu__open-btn js-open-menu" type="button">
      <svg class="mob-menu__icon-open" width="32" height="32">
        <use href="./images/icons.svg#icon-menu_open" />
      </svg>
    </button>
  </div>

  <!-- MobMenu -->

  <div class="mob-menu js-menu-container is-hidden">
    <div class="container mob-menu-container">
      <button class="mob-menu__close-btn js-close-menu" type="button">
        <svg class="mob-menu__icon-close" width="32" height="32">
          <use href="./images/icons.svg#icon-close" />
        </svg>
      </button>

      <a href="index.html" class="link-logo link-logo--header">
        Dudnik_Studio
      </a>

      <ul class="mob-menu__list">
        <li class="mob-menu__item">
          <a href="#" class="mob-menu__link js-about-menu">Про нас</a>
        </li>
        <li class="mob-menu__item">
          <a href="#" class="mob-menu__link js-portfolio-menu">Портфоліо</a>
        </li>
        <li class="mob-menu__item">
          <a href="#" class="mob-menu__link js-contacts-menu">Контакти</a>
        </li>
      </ul>

      <div class="social-wrap mob-menu__social-wrap">
        <ul class="social-list">
          <li class="social-item">
            <a
              class="social-link"
              target="_blank"
              href="viber://chat?number=%2B380730189820"
              aria-label="viber"
            >
              <svg class="social-icon__viber" width="40" height="40">
                <use href="./images/icons.svg#icon-viber" />
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              class="social-link"
              target="_blank"
              href="https://t.me/foklim"
              aria-label="telegram"
            >
              <svg class="social-icon__telegram" width="40" height="40">
                <use href="./images/icons.svg#icon-telegram" />
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              class="social-link"
              target="_blank"
              href="https://wa.me/380730189820"
              aria-label="whatsapp"
            >
              <svg class="social-icon__whatsapp" width="40" height="40">
                <use href="./images/icons.svg#icon-whatsapp" />
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
