<section id="qwerty" class="portfolio  js-portfolio-section is-hidden">
  <div class="container portfolio-container">
    <h1 class="portfolio__title">Наші роботи</h1>
    <ul class=" portfolio__list">
      <li class="portfolio__item">
        <img
          data-fancybox="gallery"
          class="rounded portfolio__img"
          src="./images/portfolio/kitchen16-1.jpg"
          alt="kitchen"
        />
      </li>

      <li class="portfolio__item ">
        <img
          data-fancybox="gallery"
          class="rounded portfolio__img"
          alt="kitchen"
          src="./images/portfolio/kitchen16-2.jpg"
        />
      </li>

      <li class="portfolio__item ">
        <img
          data-fancybox="gallery"
          class="rounded portfolio__img"
          alt="kitchen"
          src="./images/portfolio/kitchen4.jpg"
        />
      </li>

      <li class="portfolio__item ">
        <img
          data-fancybox="gallery"
          class="rounded portfolio__img"
          alt="kitchen"
          src="./images/portfolio/kitchen12-1.jpg"
        />
      </li>

      <li class="portfolio__item ">
        <img
          data-fancybox="gallery"
          class="rounded portfolio__img"
          alt="kitchen"
          src="./images/portfolio/kitchen12-2.jpg"
        />
      </li>

      <li class="portfolio__item ">
        <img
          data-fancybox="gallery"
          class="rounded portfolio__img"
          alt="kitchen"
          src="./images/portfolio/kitchen12-3.jpg"
        />
      </li>

      <li class="portfolio__item">
        <img
          data-fancybox="gallery"
          class="rounded portfolio__img"
          alt="kitchen"
          src="./images/portfolio/kitchen7-1.jpg"
        />
      </li>

      <li class="portfolio__item ">
        <img
          data-fancybox="gallery"
          class="rounded portfolio__img"
          alt="kitchen"
          src="./images/portfolio/kitchen7-2.jpg"
        />
      </li>

      <li class="portfolio__item ">
        <img
          data-fancybox="gallery"
          class="rounded portfolio__img"
          alt="kitchen"
          src="./images/portfolio/kitchen14.jpg"
        />
      </li>

      <li class="portfolio__item ">
        <img
          data-fancybox="gallery"
          class="rounded portfolio__img"
          alt="stone-bathroom"
          src="./images/portfolio/stone-bathroom1.jpg"
        />
      </li>

      <li class="portfolio__item ">
        <img
          data-fancybox="gallery"
          class="rounded portfolio__img"
          alt="wardrobe-bathroom"
          src="./images/portfolio/wardrobe-bathroom1.jpg"
        />
      </li>

      <li class="portfolio__item ">
        <img
          data-fancybox="gallery"
          class="rounded portfolio__img"
          alt="kitchen"
          src="./images/portfolio/kitchen2.jpg"
        />
      </li>

      <li class="portfolio__item ">
        <img
          data-fancybox="gallery"
          class="rounded portfolio__img"
          alt="kitchen"
          src="./images/portfolio/kitchen8-1.jpg"
        />
      </li>

      <li class="portfolio__item ">
        <img
          data-fancybox="gallery"
          class="rounded portfolio__img"
          alt="kitchen"
          src="./images/portfolio//kitchen8-2.jpg"
        />
      </li>

      <li class="portfolio__item ">
        <img
          data-fancybox="gallery"
          class="rounded portfolio__img"
          alt="kitchen"
          src="./images/portfolio//kitchen5.jpg"
        />
      </li>

      <li class="portfolio__item ">
        <img
          data-fancybox="gallery"
          class="rounded portfolio__img"
          alt="wardrobe"
          src="./images/portfolio/wardrobe8-1.jpg"
        />
      </li>

      <li class="portfolio__item ">
        <img
          data-fancybox="gallery"
          class="rounded portfolio__img"
          alt="wardrobe"
          src="./images/portfolio/wardrobe8-2.jpg"
        />
      </li>

      <li class="portfolio__item ">
        <img
          data-fancybox="gallery"
          class="rounded portfolio__img"
          alt="wardrobe"
          src="./images/portfolio/wardrobe8-3.jpg"
        />
      </li>

      <li class="portfolio__item">
        <img
          data-fancybox="gallery"
          class="rounded portfolio__img"
          alt="kitchen"
          src="./images/portfolio/kitchen13-1.jpg"
        />
      </li>

      <li class="portfolio__item">
        <img
          data-fancybox="gallery"
          class="rounded portfolio__img"
          alt="kitchen"
          src="./images/portfolio/kitchen13-2.jpg"
        />
      </li>

      <li class="portfolio__item">
        <img
          data-fancybox="gallery"
          class="rounded portfolio__img"
          alt="kitchen"
          src="./images/portfolio/kitchen13-3.jpg"
        />
      </li>
    </ul>
  </div>
</section>
