<section id="portfolio" class="portfolio ">
  <div class="container">
    <h1 class="portfolio__title">
      Наші роботи
    </h1>
    <div class="portfolio__box">
      <ul class="portfolio__list">
        <li class="portfolio__item">
          <img
            data-fancybox="gallery"
            class="rounded portfolio__img"
            src="./images/portfolio/kitchen6.jpg"
          />
        </li>
        <li class="portfolio__item">
          <img
            data-fancybox="gallery"
            class="rounded portfolio__img"
            src="./images/portfolio/kitchen6-3.jpg"
          />
        </li>
        <li class="portfolio__item">
          <img
            data-fancybox="gallery"
            class="rounded portfolio__img"
            src="./images/portfolio/kitchen6-2.jpg"
          />
        </li>
        <li class="portfolio__item">
          <img
            data-fancybox="gallery"
            class="rounded portfolio__img"
            src="./images/portfolio/kitchen12-1.jpg"
          />
        </li>
        <li class="portfolio__item">
          <img
            data-fancybox="gallery"
            class="rounded portfolio__img"
            src="./images/portfolio/kitchen12-2.jpg"
          />
        </li>
        <li class="portfolio__item">
          <img
            data-fancybox="gallery"
            class="rounded portfolio__img"
            src="./images/portfolio/kitchen12-3.jpg"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
