<section class="properties ">
  <div class="container properties__container">
    <h2 class="properties__title">Як ми працюємо?</h2>
    <ul class="properties__list">
      <li class="properties__item">
        <div class="properties__wrap-icon">
          <svg class="properties__icon" width="70" height="70">
            <use href="./images/icons.svg#icon-phone"/>
          </svg>
        </div>
        <p class="properties__text">Ви зв'язуєтесь з нами будь-яким зручним для вас способом</p>
      </li>
      <li class="properties__item">
        <div class="properties__wrap-icon">
          <svg class="properties__icon" width="70" height="70">
            <use href="./images/icons.svg#icon-pencil"/>
          </svg>
        </div>
        <p class="properties__text">Заміри та обговорення деталей, ваші побажання та бюджет</p>
      </li>
      <li class="properties__item">
        <div class="properties__wrap-icon">
          <svg class="properties__icon" width="70" height="70">
            <use href="./images/icons.svg#icon-production"/>
          </svg>
        </div>
        <p class="properties__text">Виробництво вашого замовлення</p>
      </li>
      <li class="properties__item">
        <div class="properties__wrap-icon">
          <svg class="properties__icon-delivery" width="70" height="70">
            <use href="./images/icons.svg#icon-delivery"/>
          </svg>
        </div>
        <p class="properties__text">Доставка і монтаж ваших меблів</p>
      </li>
      <!-- <li class="properties__item">
        <div class="properties__wrap-icon">
          <svg class="properties__icon" width="70" height="70">
            <use href="./images/icons.svg#icon-happy"/>
          </svg>
        </div>
        <p class="properties__text">РАДІЄТЕ НОВИМ МЕБЛЯМ</p>
      </li> -->
    </ul>
  </div>
</section>
