<section id="about-us" class="properties js-properties">
  <div class="container properties__container">
    <h2 class="properties__title">Як ми працюємо?</h2>
    <ul class="properties__list">
      <li class="properties__item">
        <div class="properties__wrap-icon">
          <svg class="properties__icon" width="70" height="70">
            <use href="./images/icons.svg#icon-phone"/>
          </svg>
        </div>
        <p class="properties__text">Ви зв'язуєтесь з нами будь-яким зручним для вас способом</p>
      </li>
      <li class="properties__item">
        <div class="properties__wrap-icon">
          <svg class="properties__icon" width="70" height="70">
            <use href="./images/icons.svg#icon-pencil"/>
          </svg>
        </div>
        <p class="properties__text">Заміряємо та обговорюємо деталі, ваші побажання та бюджет</p>
      </li>
      <li class="properties__item">
        <div class="properties__wrap-icon">
          <svg class="properties__icon" width="70" height="70">
            <use href="./images/icons.svg#icon-production"/>
          </svg>
        </div>
        <p class="properties__text">Виготовляємо ваше замовлення на сучасному обладнанні</p>
      </li>
      <li class="properties__item">
        <div class="properties__wrap-icon">
          <svg class="properties__icon-delivery" width="70" height="70">
            <use href="./images/icons.svg#icon-delivery"/>
          </svg>
        </div>
        <p class="properties__text">Доставляємо ваші меблі у вказане місце та збираємо</p>
      </li>
      <!-- <li class="properties__item">
        <div class="properties__wrap-icon">
          <svg class="properties__icon" width="70" height="70">
            <use href="./images/icons.svg#icon-happy"/>
          </svg>
        </div>
        <p class="properties__text">РАДІЄТЕ НОВИМ МЕБЛЯМ</p>
      </li> -->
    </ul>
  </div>
</section>
