.social-list {
  display: flex;
  align-items: center;
  // justify-content: center;
}

.social-item {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 50px;
  height: 50px;

  &:not(:first-child) {
    margin-left: 10px;
  }
}

.social-link {
  width: 100%;
  height: 100%;
  border-radius: 25%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon__viber {
  fill: $main-text-color;
  .social-link:hover &,
  .social-link:focus & {
    fill: #7360f2;
  }
}

.social-icon__telegram {
  fill: $main-text-color;
  .social-link:hover &,
  .social-link:focus & {
    fill: #0088cc;
  }
}

.social-icon__whatsapp {
  fill: $main-text-color;
  .social-link:hover &,
  .social-link:focus & {
    fill: #43d854;
  }
}
