.about {
  // display: flex;
  // padding-top: 10px;
  padding-bottom: 10px;
  background-image: 
  linear-gradient(
      180deg,
      #242b33 10.42%,
      rgba(36, 43, 51, 0) 50.52%,
      #242b33 90.1%
    ),
    linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)),
    url(../images//1407057628.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  // @media screen and (min-width: 768px) {
  //   display: flex;
  // }
}

.about__container {
  @media screen and (min-width: 768px) {
    // display: flex;
  }
}

.about__text-title {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: $main-text-color;
  margin-bottom: 15px;
  text-align: center;
}


.about__item {
  display: flex;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.about__icon {
  fill: $hover-color;
}

.about__item-text {
  margin-left: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: $second-text-color;

  // &:not(:last-child) {
  //   margin-bottom: 10px;
  // }
}
