.footer {
  padding-bottom: 20px;
  background-color: $main-color;
}

.footer__container {
  // max-width: 100%;
  // text-align: center;
}

// Contacts

.footer__contacts-wrap {
}

.text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  color: $main-text-color;
}

.footer__contacts-list {
  margin-left: auto;
  margin-right: auto;
  // text-align: center;
}

.footer__contacts-item {
  // text-align: center;
  // display: flex;
  // align-items: center;
}

.footer__contacts-link {
  display: flex;
  align-items: center;
  // justify-content: center;
  color: $second-text-color;
}

.footer__contacts-icon {
  margin-right: 5px;
  fill: teal;
}

// Social network

.footer__social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__social-item {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 50px;
  height: 50px;

  &:not(:first-child) {
    margin-left: 10px;
  }
}

.footer__social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $hover-color;
  }
}

.footer__social-icon {
  fill: $main-text-color;
}
