.footer {
  padding-bottom: 20px;
  background-color: $main-color;
}

.footer__container {
  max-width: 100%; //TODO дає скрол
}

// logo & title

.footer__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: $main-text-color;
  margin-bottom: 30px;
}

.footer__contacts-box {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

// Contacts

.footer__contacts-wrap {
}

.text {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
  color: $main-text-color;
}

.footer__contacts-list {
  margin-left: auto;
  margin-right: auto;
  // text-align: center;
}

.footer__contacts-item {
  // text-align: center;
  // display: flex;
  // align-items: center;
}

.footer__contacts-link {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    justify-content: center;
  }
  color: $second-text-color;

  &:hover,
  &:focus{
    color: $hover-color
  }
}

.footer__contacts-icon {
  margin-right: 5px;
  fill: teal;
}

// Social network

.footer__social-list {
  justify-content: center;
}

