header {
  background-color: $main-color;
}

.header__container{
  display: flex;
}

.mob-menu__open-btn{
  margin-left: auto;
    border: none;
    cursor: pointer;
    background-color: $main-color;

    @media screen and(min-width:768px) {
      display: none;
    }
}

.mob-menu__icon-open{
  fill: $main-text-color
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__list {
  display: none;

  @media screen and(min-width:768px) {
    display: flex;
    margin-left: auto;
  }
}

.header__item:not(:first-child) {
  margin-left: 30px;
}

.header__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $second-text-color;

  &:hover,
  &:focus {
    color: $hover-color;
  }
}


