.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      180deg,
      #242b33 11.98%,
      rgba(45, 52, 60, 0.38) 51.04%,
      #242b33 92.19%
    ),
    url(../images//render-of-3d-contemporary-kitchen.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // max-width: 1600px;
  // margin-right: auto;
  // margin-left: auto;
}

.hero__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__link-tel {
  position: absolute;
  top: 540px;
  right: 65px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $second-text-color;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    right: 290px;
  }

  @media screen and (min-width: 1280px) {
    right: 670px;
    top: 600px;
  }
}

.hero__tel-icon {
  margin-right: 5px;
  fill: $second-text-color;
}

.hero__title {
  // margin-top: 100px;
  max-width: 320px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: $main-text-color;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    max-width: 545px;
  }
}
