.properties {
  padding-top: 40px;
  // padding-right: 10px;
  padding-bottom: 40px;
  // padding-left: 10px;
  background-color: $main-color;

}

.properties__container{
  max-width: 100%;
  // display: flex;
  // align-items: center;
}

.properties__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
  color: $main-text-color;

  @media screen and (min-width: 768px) {
    font-size: 36px;
  }
}

.properties__list {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.properties__item {
  padding-bottom: 10px;
  border-radius: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 90px) / 4); //TODO передивитися на 768
    
    &:not(:first-child) {
      margin-left: 30px;
    }
  }
}

.properties__wrap-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
  height: 120px;
}

.properties__icon {
  // align-items: center;

  // justify-content: center;
  fill: teal;
}

.properties__icon-delivery {
  fill: $main-color;
}

.properties__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  color: $second-text-color;
}
