.slider {
  padding-top: 10px;
  padding-bottom: 10px;
}

.carousel__button {
  // background-color: white;
  // opacity: 0.3;
}


.slider__item {
  cursor: pointer;
}

.slider__img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}
